<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <title>NAZWA</title>
    <link rel="stylesheet" href="static/style.css" type="text/css" />
    <link rel="stylesheet" href="static/css/fontello.css" type="text/css" />


    <meta http-equiv="X-Ua-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Twórczość">
    <meta name="keywords" content="Rękodzieła, kwiaty, ozdoby">

    <link href="https://fonts.googleapis.com/css2?family=Noticia+Text:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>

    <div id="container">

        <div id="header">
            <div id="logo"><b>N</b>azwa</div>
        </div>
        <div id="nav">
            <ol>
                <li><a href="/index.html">Menu</a></li>
                <li><a href="/creativity.html">Oferta</a>
                <li><a href="/contact.html">Kontakt</a></li>
                <li>
                    <div class="fb">
                        <a href="http://facebook.com" target="_blank" class="sociallink"><i
                                class="icon-facebook"></i></a>
                    </div>
                </li>
                <div style="clear:both;"></div>
            </ol>
        </div>
        <div id="content">

            Ipsum dolor sit amet, consectetur adipiscing elit. Cras congue enim purus, sit amet commodo neque efficitur
            in. Nam suscipit consequat turpis quis pretium. Maecenas posuere sodales lacus, sit amet ornare purus mollis
            vel. Nunc accumsan, est sit amet feugiat lobortis, arcu nisi aliquam erat, vel rutrum mi est vel arcu.
            Pellentesque mattis, urna eget sagittis auctor, dolor risus eleifend elit, sit amet maximus lectus orci quis
            dui. Donec tincidunt eu justo id elementum. Phasellus a lorem eget mi
            <div class="contact">
                <h3 class="statement">Skontaktuj się z nami!</h3>


                <form action="submit_form" method="post">
                    <div class="row">
                        <label><input name="name" type="text" placeholder="Imię:" onfocus="this.placeholder=''"
                                onblur="this.placeholder='Imię:'"></label>
                    </div>
                    <div class="row">
                        <label><input name="email" type="text" placeholder="Email:" onfocus="this.placeholder=''"
                                onblur="this.placeholder='Email:'"></label>
                    </div>
                    <div class="row">
                        <label><input name="subject" type="text" placeholder="Temat:" onfocus="this.placeholder=''"
                                onblur="this.placeholder='Temat:'"></label>
                    </div>
                    <div class="row">
                        <textarea class="area" name="message" rows="10" cols="42"></textarea><br />
                        <input type="submit" value="Wyślij" />
                    </div>
                </form>


            </div>
        </div>

        <div id="footer">&copy; stopka</div>
    </div>


</body>

</html>